.column {
  @include boxwithBgcolor();

  ul {
    padding-left: 1rem;
    line-height: 1.2;
  }

  ul li {
    padding-bottom: .5rem;
  }

  h5, h6 {
    font-weight: 600;
    margin-bottom: .75rem;
  }

}
