.faq {

  .section {
    border:$gray-400 1px dotted;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0;
    }
    ul {
      padding: 0 0 0 1rem;
    }
    table {
      margin-top: 1rem;
    }
    p a, dl a, ul a{
      text-decoration: underline;
      color: #2c2c2c;
    }
    .btn {
      margin: 1rem auto 0;
      display: block;
    }
  }

  .contact {
      @include boxwithBgcolor();
      padding: 1.5rem;
      margin-top: .75rem;

      h6 {
        line-height: 1.4;
      }

      a {
        font-weight: 600;
        display: block;
        padding: .25rem 0;
      }

      small {
        line-height: 1.1;
      }

      .fa {
        margin: 0 .3rem 0 0;
        display: inline;
      }
    }

}


@media (min-width: 768px) {
  .section {
    margin-top: 0;
    margin-right: 15px;
  }
  .row.withwidget-reverse {
    flex-direction: row-reverse;
    overflow: visible;
  }
  .widget__sticky {
    position: sticky;
    top: 0;
  }
}
