.site-menu {
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 25px 0 0;
  text-transform:uppercase;
  .newin:before {
      content: "";
      display: block;
      position: absolute;
      height: .4rem;
      width: .4rem;
      border-radius: .5rem;
      background: #ffcc66;
      margin-top: -.275rem;
      margin-left: -.275rem;
  }
}

.has-submenu {
  display: inline-block;
  position: relative;
  a {
      cursor: pointer;
      padding-bottom: 20px;
  }
  a:hover {
      text-decoration: none;
  }
}

.sub-menu {
    display: none;
    position: absolute;
    top:50px;
    left: 0;
    min-width: 240px;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 7px 22px -5px rgba(47,56,68,0.2);
    z-index: 2;
    line-height: 1.5;
    text-align: left;
    a {
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }
    a:hover {
      text-decoration: none;
    }
}

.has-megamenu {
  display: inline-block;
  a {
      cursor: pointer;
      padding-bottom: 20px;
  }
  a:hover {
      text-decoration: none;
  }
}

.mega-menu {
    display: none;
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 7px 22px -5px rgba(47,56,68,0.2);
    z-index: 2;
    line-height: 1.5;
    text-align: left;
    a {
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }
    a:hover {
      text-decoration: none;
    }
}

.has-megamenu:hover .mega-menu,
.has-submenu:hover .sub-menu {
    display: block;
}
