.tab-content {
  margin-top: 30px;
}


.tab__tags {
  padding: 0;
  text-align: left;

  li {
    letter-spacing:$letter-spacing-custum;
    line-height: 1.2;
    display: inline;
    min-width: 2.2rem;
    height: 2.2rem;
    padding: .5rem .7rem;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $btn-border-width solid transparent;
    @include transition($btn-transition);
  }

  li:hover {
    cursor : pointer;
    background-color: $secondary;
    border-radius: .2rem;
    text-decoration: $link-hover-decoration;
  }
}


@media (min-width: 992px) {
  .tab__tags {
    text-align: center;
  }
}
