.current {
    font-size: .6rem;
    letter-spacing: .05rem;
    color: #fff;
    background-color: #8c8e84;
    border-radius: .1rem;
    padding: .15rem .25rem;
    line-height: 1;
    margin-left: .75rem;
  }
