.page__title {
  text-align: center;
  margin: 3rem 0 2rem;
  letter-spacing:$letter-spacing-custum;

  small {
    font-size: 60%;
    display: block;
    margin-top: .5rem;
  }
}

@media (min-width: 768px) {
  .page__title {
    text-align: center;
    margin: 6rem 0 3rem;

    small {
      margin-top: 0;
      margin-left: 1rem;
      display:inline;
    }
  }
}
