  .icon {
    display:block;
    margin: 0 auto;
   }

  .toolbar-item {
    font-size: .5rem;
    letter-spacing: .05rem;
    line-height: 1;
    width: 70px;
    text-align: center;
    a:hover {
      color: $primary;
    }
    .nav-link {
      padding: 0;
    }
    .nav-link:hover{
      opacity: .7;
    }
  }

  .toolbar-icon {
    margin-bottom: $m-custum;
    height: 20px;
    padding-top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 575px) {
    .toolbar-item {
      width: 50px;
    }
  }
