<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>LiLi et NeNe - BRANDS</title>
    {{>common-meta}}
</head>
<body>
  <div class="row-offcanvas row-offcanvas-left">
    {{>common-header}}
    {{>common-gnav}}
      <div class="container">
        <h1 class="page__title">
          Brand List
          <small class="text-muted">取扱いブランド一覧</small>
        </h1>
        {{>brands-tab}}
        {{>brands-index}}
      </div><!-- ./container -->
    {{>common-pagetop}}
    {{>common-footer}}
    {{>common-offcanvas}}
  </div><!--/.row-offcanvas-->
  {{>common-scripts-ie}}
</body>

</html>
