<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>LiLi et NeNe - HOME</title>
    {{>common-meta}}
</head>
<body>
  <div class="row-offcanvas row-offcanvas-left">
    {{>common-header}}
    {{>index-carousel}}
      <div class="container">
        {{>index-arrival}}
        {{>index-collection}}
        {{>index-newin}}
        {{>index-brand}}
        {{>index-blog}}
        {{>index-about}}
      </div><!-- ./container -->
    {{>common-footer}}
    {{>common-offcanvas}}
  </div><!--/.row-offcanvas-->
</body>

</html>
