<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    {{>meta}}
</head>
<body>
    {{>header title='Home'}}
    <h2>Welcome to my homepage</h2>
    <p>Hello {{pages.index.firstName}} {{pages.index.lastName}}</p>
    {{>menu}}
    {{>footer}}
</body>
</html>
