<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>ホーム</title>
    {{>meta}}
</head>
<body>
  <div class="row-offcanvas row-offcanvas-left">
    {{>header}}
    {{>carousel}}
      <div class="container">
        {{>arrival}}
        {{>collection}}
        {{>newin}}
        {{>brand}}
        {{>blog}}
        {{>about}}
      </div><!-- ./container -->
    {{>footer}}
    {{>offcanvas}}
  </div><!--/.row-offcanvas-->
</body>

</html>
