<div id="arrival" class="grid grid__extension">
  <h2 class="grid__lead">ABOUT US</h2>
  <div class="row justify-content-md-center">
    <div class="col-lg-7 col-12">
      <p class="text-left">
        リリ・エ・ネネではヨーロッパを中心に世界各地からセレクトしたベビー・キッズ・レディースのアパレルや雑貨などをご紹介しています。
        私たちは、一枚のお洋服や雑貨などを通して、みなさまが笑顔になれるような日々の小さな幸せをお届けしたいと考えております。
        こどもまわりから始まる豊かなライフスタイルのお手伝いが出来れば幸いです！
      </p>
    </div>
  </div>
  <p class="grid__link"><a href="#" class="btn-link">JOIN US!  新規会員登録へ</a></p>
  <small class="text-muted text-left text-sm-center">新規会員登録で500ポイントプレゼント！ 最新入荷情報やお得な情報のお届けも。</small>
</div>
