<div class="filter-box">
  <!-- タブボタン部分 -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab" role="button">ジャンル別</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab" role="button">ABC別</a>
    </li>
  </ul>

  <!--タブのコンテンツ部分-->
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <ul class="tab__tags cta filter">
            <li><a class="all active" data-filter="all" href="#" role="button">ALL</a></li>
            <li><a class="baby" data-filter="baby" href="#" role="button">BABY</a></li>
            <li><a class="kids" data-filter="kids" href="#" role="button">KIDS</a></li>
            <li><a class="woman" data-filter="woman" href="#" role="button">WOMEN</a></li>
            <li><a class="goods" data-filter="goods" href="#" role="button">HOME & DESIGN</a></li>
      </ul>
    </div>
    <div id="tab2" class="tab-pane">
      <ul class="tab__tags cta filter">
            <li><a class="all active" data-filter="all" href="#" role="button">ALL</a></li>
            <li><a class="A" data-filter="A" href="#" role="button">A</a></li>
            <li><a class="B" data-filter="B" href="#" role="button">B</a></li>
            <li><a class="C" data-filter="C" href="#" role="button">C</a></li>
            <li><a class="D" data-filter="D" href="#" role="button">D</a></li>
            <li><a class="E" data-filter="E" href="#" role="button">E</a></li>
            <li><a class="F" data-filter="F" href="#" role="button">F</a></li>
            <li><a class="G" data-filter="G" href="#" role="button">G</a></li>
            <li><a class="H" data-filter="H" href="#" role="button">H</a></li>
            <li><a class="I" data-filter="I" href="#" role="button">I</a></li>
            <li><a class="J" data-filter="J" href="#" role="button">J</a></li>
            <li><a class="K" data-filter="K" href="#" role="button">K</a></li>
            <li><a class="L" data-filter="L" href="#" role="button">L</a></li>
            <li><a class="M" data-filter="M" href="#" role="button">M</a></li>
            <li><a class="N" data-filter="N" href="#" role="button">N</a></li>
            <li><a class="O" data-filter="O" href="#" role="button">O</a></li>
            <li><a class="P" data-filter="P" href="#" role="button">P</a></li>
            <li><a class="R" data-filter="R" href="#" role="button">R</a></li>
            <li><a class="S" data-filter="S" href="#" role="button">S</a></li>
            <li><a class="T" data-filter="T" href="#" role="button">T</a></li>
            <li><a class="V" data-filter="U" href="#" role="button">V</a></li>
            <li><a class="W" data-filter="W" href="#" role="button">W</a></li>
            <li><a class="Z" data-filter="Z" href="#" role="button">Z</a></li>
        </ul>
    </div>
  </div>
</div>
