<div class="sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="container">
          <button type="button" class="offcanvas-close" aria-label="close" data-toggle="offcanvas">&times;</button>
          <form class="search">
            <input class="form-control-extended w-100" type="search" placeholder="検索..." aria-label="検索">
            <button class="btn-search-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
          <div class="d-lg-none">
            <ul class="nav toolbar d-flex justify-content-around">
              <li class="nav-item toolbar-item">
                <a class="nav-link" href="#">
                  <div class="toolbar-icon"><span class="icon icon--help"></div>
                    HELP</a>
              </li>
                <li class="nav-item toolbar-item">
                  <a class="nav-link" href="#">
                    <div class="toolbar-icon"><span class="icon icon--like"></span></div>
                      LIKE</a>
                </li>
                <li class="nav-item toolbar-item">
                  <a class="nav-link" href="#">
                    <div class="toolbar-icon"><span class="icon icon--user"></div>
                      MY PAGE</a>
                </li>
            </ul>
            <hr>
          </div>
          <!-- max-width 575px ---->
          <div class="">
            <ul id="accordion" class="accordion-menu list-unstyled">
              <h6>カテゴリーで探す</h6>
              <li class="accordion-menu-item">
                <a class="parent" data-toggle="collapse" data-parent="#accordion" href="#baby" role="button" aria-expanded="true" aria-controls="baby">
                  <i class="icon-caretRight" aria-hidden="true"></i>For Baby
                </a>
                <ul id="baby" class="collapse list-unstyled" role="tabpane">
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#baby" href="#baby-items" role="button" aria-expanded="true" aria-controls="baby-items">
                      <i class="icon-caretRight" aria-hidden="true"></i>アイテムで選ぶ
                    </a>
                    <ul id="baby-items" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">ワンピース</a></li>
                      <li><a href="#">トップス</a></li>
                      <li><a href="#">ボトムス</a></li>
                      <li><a href="#">シューズ</a></li>
                      <li><a href="#">アクセサリ・グッズ</a></li>
                      <li><a href="#">インナー・ボディ・ナイティ</a></li>
                      <li><a href="#">アウター</a></li>
                      <li><a href="#">スイムウエア</a></li>
                      <li><a href="#">ロンパース</a></li>
                      <li><a href="#">タイツ・ソックス</a></li>
                      <li><a href="#">レギンス</a></li>
                      <li><a href="#">ボーイズ</a></li>
                    </ul>
                  </li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#baby" href="#baby-size" role="button" aria-expanded="false" aria-controls="baby-size">
                      <i class="icon-caretRight" aria-hidden="true"></i>サイズで探す
                    </a>
                    <ul id="baby-size" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">6M（月齢6ヶ月）</a></li>
                      <li><a href="#">12M（月齢12ヶ月）</a></li>
                      <li><a href="#">18M（月齢18ヶ月）</a></li>
                      <li><a href="#">24M（月齢24ヶ月）</a></li>
                      <li><a href="#">サイズガイド</a></li>
                    </ul>
                  </li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#baby" href="#baby-brand" role="button" aria-expanded="false" aria-controls="baby-brand">
                      <i class="icon-caretRight" aria-hidden="true"></i>ブランドで探す
                    </a>
                    <ul id="baby-brand" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">ブランド1</a></li>
                      <li><a href="#">ブランド2</a></li>
                      <li><a href="#">ブランド3</a></li>
                      <li><a href="#">ブランド4</a></li>
                      <li><a href="#">…</a></li>
                    </ul>
                  </li>
                </ul>
              </li><!--./accordion-menu-item-->
              <li class="accordion-menu-item">
                <a class="parent" data-toggle="collapse" data-parent="#accordion" href="#kids" role="button" aria-expanded="true" aria-controls="kids">
                  <i class="icon-caretRight" aria-hidden="true"></i>For Kids
                </a>
                <ul id="kids" class="collapse list-unstyled" role="tabpane">
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#baby" href="#kids-items" role="button" aria-expanded="false" aria-controls="kids-items">
                      <i class="icon-caretRight" aria-hidden="true"></i>アイテムで選ぶ
                    </a>
                    <ul id="kids-items" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">ワンピース</a></li>
                      <li><a href="#">トップス</a></li>
                      <li><a href="#">ボトムス</a></li>
                      <li><a href="#">シューズ</a></li>
                      <li><a href="#">インナー・パジャマ</a></li>
                      <li><a href="#">アクセサリ・グッズ</a></li>
                      <li><a href="#">タイツ・ソックス</a></li>
                      <li><a href="#">レギンス</a></li>
                      <li><a href="#">アウター</a></li>
                      <li><a href="#">スイムウエア</a></li>
                      <li><a href="#">バレエグッズ</a></li>
                      <li><a href="#">ボーイズ</a></li>
                    </ul>
                  </li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#kids" href="#kids-size" role="button" aria-expanded="false" aria-controls="kids-size">
                      <i class="icon-caretRight" aria-hidden="true"></i>サイズで探す
                    </a>
                    <ul id="kids-size" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">2A（2歳）</a></li>
                      <li><a href="#">3A（3歳）</a></li>
                      <li><a href="#">4A（4歳）</a></li>
                      <li><a href="#">6A（6歳）</a></li>
                      <li><a href="#">8A（8歳）</a></li>
                      <li><a href="#">10A（10歳）</a></li>
                      <li><a href="#">12A（12歳）</a></li>
                      <li><a href="#">サイズガイド</a></li>
                    </ul>
                  </li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#kids" href="#kids-brand" role="button" aria-expanded="false" aria-controls="kids-brand">
                      <i class="icon-caretRight" aria-hidden="true"></i>ブランドで探す
                    </a>
                    <ul id="kids-brand" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">ブランド1</a></li>
                      <li><a href="#">ブランド2</a></li>
                      <li><a href="#">ブランド3</a></li>
                      <li><a href="#">ブランド4</a></li>
                      <li><a href="#">…</a></li>
                    </ul>
                  </li>
                </ul>
              </li><!--./accordion-menu-item-->
              <li class="accordion-menu-item">
                <a class="parent" data-toggle="collapse" data-parent="#accordion" href="#women" role="button" aria-expanded="true" aria-controls="women">
                  <i class="icon-caretRight" aria-hidden="true"></i>For Woman
                </a>
                <ul id="women" class="collapse list-unstyled" role="tabpane">
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#women-items" role="button" aria-expanded="false" aria-controls="women-items">
                      <i class="icon-caretRight" aria-hidden="true"></i>アイテムで選ぶ
                  </a></li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#women-size" role="button" aria-expanded="false" aria-controls="women-size">
                      <i class="icon-caretRight" aria-hidden="true"></i>サイズで探す
                    </a></li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#women-brand" role="button" aria-expanded="false" aria-controls="women-brand">
                      <i class="icon-caretRight" aria-hidden="true"></i>ブランドで探す
                    </a>
                    <ul id="women-brand" class="collapse list-unstyled" role="tabpane">
                      <li><a href="#">DRAGON</a></li>
                      <li><a href="#">SOFIE D'HOORE</a></li>
                      <li><a href="#">T.YAMAI</a></li>
                      <li><a href="#">MANUELLE GUIBAL</a></li>
                      <li><a href="#">SOPHIE DIGARD</a></li>
                      <li><a href="#">FALIERO SARTI</a></li>
                      <li><a href="#">TRADITIONAL W.W.</a></li>
                      <li><a href="#">CHARLI</a></li>
                      <li><a href="#">LAVENHAM</a></li>
                      <li><a href="#">FABIO RUSCONI</a></li>
                      <li><a href="#">JAMIN PUECH</a></li>
                      <li><a href="#">POLDER</a></li>
                      <li><a href="#">HARTFORD</a></li>
                      <li><a href="#">MAJESTIC FILATURES</a></li>
                      <li><a href="#">COUPRIO</a></li>
                      <li><a href="#">PORSELLI</a></li>
                      <li><a href="#">MUUN</a></li>
                      <li><a href="#">すべてのブランドへ</a></li>
                    </ul>
                  </li>
                </ul>
              </li><!--./accordion-menu-item-->
              <li class="accordion-menu-item">
                <a class="parent" data-toggle="collapse" data-parent="#accordion" href="#goods" role="button" aria-expanded="true" aria-controls="goods">
                  <i class="icon-caretRight" aria-hidden="true"></i>Home & Design
                </a>
                <ul id="goods" class="collapse list-unstyled" role="tabpane">
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#goods-items" role="button" aria-expanded="false" aria-controls="goods-items">
                      <i class="icon-caretRight" aria-hidden="true"></i>アイテムで選ぶ
                  </a></li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#goods-brands" role="button" aria-expanded="false" aria-controls="goods-brands">
                      <i class="icon-caretRight" aria-hidden="true"></i>ブランドで探す
                    </a></li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#goods-creator" role="button" aria-expanded="false" aria-controls="goods-creator">
                      <i class="icon-caretRight" aria-hidden="true"></i>クリエイター
                    </a></li>
                </ul>
              </li><!--./accordion-menu-item-->
              <li class="accordion-menu-item">
                <a class="parent" data-toggle="collapse" data-parent="#accordion" href="#gifts" role="button" aria-expanded="true" aria-controls="gifts">
                  <i class="icon-caretRight" aria-hidden="true"></i>Gifts
                </a>
                <ul id="gifts" class="collapse list-unstyled" role="tabpane">
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#gifts-personality" role="button" aria-expanded="false" aria-controls="gifts-personality">
                      <i class="icon-caretRight" aria-hidden="true"></i>贈る相手で選ぶ
                  </a></li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#goods-budget" role="button" aria-expanded="false" aria-controls="goods-budget">
                      <i class="icon-caretRight" aria-hidden="true"></i>ご予算で選ぶ出産祝い
                    </a></li>
                  <li class="accordion-menu-item sub">
                    <a class="parent" data-toggle="collapse" data-parent="#women" href="#goods-forbaby" role="button" aria-expanded="false" aria-controls="goods-forbaby">
                      <i class="icon-caretRight" aria-hidden="true"></i>出産祝いにおすすめ
                    </a></li>
                </ul>
              </li><!--./accordion-menu-item-->
              <hr>
            </ul><!--./accordion-->

            <ul id="accordion" class="accordion-menu list-unstyled d-lg-none">
              <h6>LOOK BOOK</h6>
              <li class="accordion-menu-item">
                <a class="parent" href="#" role="button">
                  キッズの着用イメージ
                </a>
              </li><!--./accordion-menu-item-->
              <li class="accordion-menu-item">
                <a class="parent" href="#" role="button">
                  ベビーのコーディネート
                </a>
              </li><!--./accordion-menu-item-->
              <hr>
            </ul><!--./accordion-->

            <ul id="accordion" class="accordion-menu list-unstyled d-lg-none">
              <h6>SALE</h6>
              <li class="accordion-menu-item">
                <a class="parent" href="#" role="button">
                  2017SS Colection
                </a>
              </li><!--./accordion-menu-item-->
              <li class="accordion-menu-item">
                <a class="parent" href="#" role="button">
                  Outlet
                </a>
              </li><!--./accordion-menu-item-->
              <hr>
            </ul><!--./accordion-->
          </div>

          <ul id="accordion" class="accordion-menu list-unstyled">
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-sign-in" aria-hidden="true"></i>マイページへログイン
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>お気入り一覧
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>クーポンをチェック
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>パスワードを変更
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-history" aria-hidden="true"></i>購入履歴を確認
              </a>
            </li>
            <hr>
          </ul><!--./accordion-->

          <ul id="accordion" class="accordion-menu list-unstyled">
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-info-circle" aria-hidden="true"></i>送料とお支払い方法
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-reply" aria-hidden="true"></i>返品について
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-question" aria-hidden="true"></i>よくあるご質問
              </a>
            </li>
            <hr>
          </ul><!--./accordion-->

          <ul id="accordion" class="accordion-menu list-unstyled">
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>メールで問合せ
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-phone" aria-hidden="true"></i>0467-25-4474へ問合せ
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-building-o" aria-hidden="true"></i>会社概要
              </a>
            </li>
            <hr>
          </ul><!--./accordion-->

          <ul id="accordion" class="accordion-menu list-unstyled">
            <h6>姉妹店COUPRIOについて</h6>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>ギフトのコンセプトショップ
              </a>
            </li>
            <li class="accordion-menu-item">
              <a href="#" role="button">
                <i class="fa fa-map-marker" aria-hidden="true"></i>鎌倉の実店舗
              </a>
            </li>
          </ul><!--./accordion-->
      </div><!--/.container-->
    </div><!--/.sidebar-offcanvas-->
