<footer class="footer w-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer__col">
        <h3 class="footer__lead">INFOMATION</h3>
        <ul class="footer__list">
          <li>株式会社クプリオ</li>
          <li>営業時間10:00-17:00／土日祝日定休</li>
          <li><address>神奈川県鎌倉市御成町4-16 鎌倉NSビル4F</address></li>
          <li>
            <address>
              <a href="tel:0467254474" role="button">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>0467-25-4474
              </address>
            </a>
          </li>
          <li>
            <address>
              <a href="mail:shop@lilietnene.com" role="button">
                <i class="fa fa-phone" aria-hidden="true"></i>shop@lilietnene.com
              </a>
            </address>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 footer__col">
        <h3 class="footer__lead">SHOPPING GUIDE</h3>
        <ul class="footer__list">
          <li>
            <a href="http://www.lilietnene.com/faq.html">
              <i class="fa fa-question" aria-hidden="true"></i>よくあるご質問
            </a>
          </li>
          <li>
            <a href="/fs/lilietnene/PostageSettleList.html">
              <i class="fa fa-shopping-cart"></i>送料とお支払い方法
            </a>
          </li>
          <li>
            <a href="/fs/lilietnene/ReturnedSpecialContract.html">
              <i class="fa fa-reply" aria-hidden="true"></i>返品について
            </a>
          </li>
          <li>
            <a href="/fs/lilietnene/PrivacyPolicy.html">
              <i class="fa fa-info-circle"></i>個人情報の取扱い
            </a>
          </li>
          <li>
            <a href="/fs/lilietnene/BusinessDeal.html">
              <i class="fa fa-info-circle"></i>特定商取引法に基づく表示
            </a>
          </li>
          <li>
            <a href="/fs/lilietnene/PasswordEdit.html">
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>パスワードをお忘れの場合
            </a>
          </li>
          <li>
            <a href="http://www.lilietnene.com/companyinfo.html">
              <i class="fa fa-building-o" aria-hidden="true"></i>会社概要
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 footer__col">
        <h3 class="footer__lead">GET IN TOUCH</h3>
        <ul class="footer__list">
          <li>
            <a href="https://www.facebook.com/lilietnene target="_blank"">
              FACEBOOK
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/lilietnene/" target="_blank">
              INSTAGRAM
            </a>
          </li>
          <li>
            <a href="https://line.me/R/ti/p/@qbn6414x" target="_blank">
              LINE
            </a>
          </li>
          <li>
            <a href="http://twitter.com/lilietneneNews" target="_blank">
              TWITTER
            </a>
          </li>
        </ul>
        <ul class="footer__list">
            <hr class="invisible" />
            <li>
              <a href="http://www.couprio.com/" target="_blank">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>ギフトのコンセプトストア～クプリオ
              </a>
            </li>
            <li>
              <a href="http://www.couprio.com/shop.html" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>鎌倉の実店舗
              </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="payments">
      <p class="text-muted"> We support the following payment methods.</p>
      <ul class="list-inline">
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto lazyload" src="https://secure1.future-shop.jp/~lilietnene/assets/images/icon-cregit-amazon.png" alt="Amazon pay"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto lazyload" src="https://secure1.future-shop.jp/~lilietnene/assets/images/icon-cregit-visa.png" alt="Visa"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto lazyload" src="https://secure1.future-shop.jp/~lilietnene/assets/images/icon-cregit-master.png" alt="Master"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto lazyload" src="https://secure1.future-shop.jp/~lilietnene/assets/images/icon-cregit-american-express.png" alt="American Express"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto lazyload" src="https://secure1.future-shop.jp/~lilietnene/assets/images/icon-cregit-diners.png" alt="Diners"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto lazyload" src="https://secure1.future-shop.jp/~lilietnene/assets/images/icon-cregit-jcb.png" alt="JCB"></li>
      </ul>
    </div>
    <p class="text-muted"><small>&copy; Copyright LILI et NENE. 運営会社 株式会社クプリオ 神奈川県鎌倉市御成町4-16 鎌倉NSビル4F</small></p>
  </div>
</footer>
