<header class="header">
  <div class="w-100 text-center info">INFORMATION</div>
  <!-- navbar-sticky -->
  <div class="container">
    <div class="row align-items-end">
        <div class="col">
          <div class="nav-item toolbar-item">
            <a class="nav-link toolbar-item offcanvas-toggle float-left" data-toggle="offcanvas" href="#">
              <div class="toolbar-icon"><span class="icon icon--menu"></span></div>
                MENU
              </a>
          </div>
        </div>
        <div class="col-xs-4">
          <a class="logo" href="#"><span class="icon icon--logo"></span></a>
        </div>
        <div class="col">
              <ul class="nav toolbar float-right">
                <li class="nav-item toolbar-item d-none d-lg-block d-xl-block">
                  <a class="nav-link" href="#">
                    <div class="toolbar-icon"><span class="icon icon--user"></div>
                      MY PAGE</a>
                </li>
                  <li class="nav-item toolbar-item d-none d-lg-block d-xl-block">
                    <a class="nav-link" href="#">
                      <div class="toolbar-icon"><span class="icon icon--like"></span></div>
                      LIKE</a>
                  </li>
                  <li class="nav-item toolbar-item d-none d-lg-block d-xl-block">
                    <a class="nav-link" href="#">
                      <div class="toolbar-icon"><span class="icon icon--help"></div>
                        HELP</a>
                  </li>
                  <!-- min-width: 1200px -->
                  <li class="nav-item toolbar-item">
                    <a class="nav-link" href="#">
                      <div class="toolbar-icon"><span class="icon icon--cart"></div>
                        CART</a>
                  </li>
              </ul>
        </div>
    </div>
  </div><!--./navbar-sticky -->

  <div class="container site-menu d-none d-lg-block">
  <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link newin" href="#">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Brands</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#">Baby</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#">Kids</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link"  href="#">WOMAN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home & Design</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gifts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Look</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sale</a>
      </li>
    </ul>
  </div>
</header>
