<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>LiLi et NeNe - 会社概要</title>
    {{>common-meta}}
</head>
<body>
  <div class="row-offcanvas row-offcanvas-left">
    {{>common-header}}
    {{>common-gnav}}
      <div class="container">
        <h1 class="page__title">
          COUPRIO, INC.
          <small class="text-muted">会社概要</small>
        </h1>
        <main role="main" class="container">
          <table class="table">
              <tbody>
                <tr>
                  <th>社名</th>
                  <td>株式会社クプリオ</td>
                </tr>
                <tr>
                  <th>創業</th>
                  <td>2001年1月</td>
                </tr>
                <tr>
                  <th>設立</th>
                  <td>2003年6月</td>
                </tr>
                <tr>
                  <th>住所</th>
                  <td>〒248-0012　神奈川県鎌倉市御成町4-16 鎌倉NSビル４F</td>
                </tr>
                <tr>
                  <th>代表取締役	</th>
                  <td>柴田かおり</td>
                </tr>
                <tr>
                  <th>電話番号</th>
                  <td>0467-25-4474</td>
                </tr>
                <tr>
                  <th>業務内容</th>
                  <td>子供服・婦人服・雑貨等の小売、インターネット通販等</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>10:00-17:00</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>土日祝祭日、夏季休業、冬季休業</td>
                </tr>
              </tbody>
            </table>
        </main>
      </div><!-- ./container -->
    {{>common-pagetop}}
    {{>common-footer}}
    {{>common-offcanvas}}
  </div><!--/.row-offcanvas-->
  {{>common-scripts-ie}}
</body>

</html>
