<div class="col-lg-3 col-md-4 col-12 widget">
  <div id="accordion1" class="tablist widget__sticky" role="tablist" aria-multiselectable="true">
    <div class="tablist__group">
      <div role="tab" id="heading1-1">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed " data-toggle="collapse" href="#collapse1-1" role="button" aria-expanded="false" aria-controls="collapse1-1">
            会員登録について
          </a>
        </h5>
      </div>
      <div id="collapse1-1" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <ul>
          <li><a href="#entry1">会員について</a></li>
          <li><a href="#entry2">パスワードを忘れたとき</a></li>
          <li><a href="#entry3">会員情報の変更について</a></li>
          <li><a href="#entry4">退会について</a></li>
          <li><a href="#entry5">メルマガ登録と配信停止</a></li>
          <li><a href="#entry6">マイページとは</a></li>
          <li><a href="#entry7">お気に入りについて</a></li>
          <li><a href="#entry8">ポイントを使う・確認する</a></li>
          <li><a href="#entry9">会員登録時の500ポイントについて</a></li>
          <li><a href="#entry10">クーポンを使う・確認する</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-2">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed " data-toggle="collapse" href="#collapse1-2" role="button" aria-expanded="false" aria-controls="collapse2">
            ご注文について
          </a>
        </h5>
      </div>
      <div id="collapse1-2" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading1-2" data-parent="#accordion1">
        <ul>
          <li><a href="#order1">注文確認メールが届かない</a></li>
          <li><a href="#order2">届け先を変更したい</a></li>
          <li><a href="#order3">追加注文について</a></li>
          <li><a href="#order4">支払方法を変更したい</a></li>
          <li><a href="#order5">配送指定日時変更について</a></li>
          <li><a href="#order6">注文をキャンセルしたい</a></li>
          <li><a href="#order7">電話やFAXで注文したい</a></li>
          <li><a href="#order8">納品書や領収書について</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-3">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed " data-toggle="collapse" href="#collapse1-3" role="button" aria-expanded="false" aria-controls="collapse1-3">
            ギフトについて
          </a>
        </h5>
      </div>
      <div id="collapse1-3" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion1">
        <ul>
          <li><a href="#gift1">ギフトラッピングについて</a></li>
          <li><a href="#gift2">ギフトの納品書について</a></li>
          <li><a href="#gift3">メッセージカードについて</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-4">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed " data-toggle="collapse" href="#collapse1-4" role="button" aria-expanded="false" aria-controls="collapse1-5">
            商品について
          </a>
        </h5>
      </div>
      <div id="collapse1-4" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion1">
        <ul>
          <li><a href="#item1">商品在庫について</a></li>
          <li><a href="#item2">商品カタログはありますか</a></li>
          <li><a href="#item3">完売商品が欲しい</a></li>
          <li><a href="#item4">取扱商品は実店舗と同じですか</a></li>
          <li><a href="#item5">サイズについて</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-5">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed" data-toggle="collapse" href="#collapse1-5" role="button" aria-expanded="false" aria-controls="collapse1-5">
            送料について
          </a>
        </h5>
      </div>
      <div id="collapse1-5" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion1">
        <ul>
          <li><a href="#postage1">送料について</a></li>
          <li><a href="#postage2">送料込商品と他の商品の同時購入</a></li>
          <li><a href="#postage3">送料個別商品を複数購入したい</a></li>
          <li><a href="#postage4">高額購入送料割引特典について</a></li>
          <li><a href="#postage5">宅配業者について</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-6">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed" data-toggle="collapse" href="#collapse1-6" role="button" aria-expanded="false" aria-controls="collapse1-5">
            配送について
          </a>
        </h5>
      </div>
      <div id="collapse1-6" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion1">
        <ul>
          <li><a href="#shipping1">ご注文の受付時間と出荷日について</a></li>
          <li><a href="#shipping2">お届け日数の目安</a></li>
          <li><a href="#shipping3">お届け日の指定はできますか？</a></li>
          <li><a href="#shipping4">配送状況を調べるには？</a></li>
          <li><a href="#shipping5">海外へ配送したい</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-7">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed" data-toggle="collapse" href="#collapse1-7" role="button" aria-expanded="false" aria-controls="collapse1-5">
            お支払いについて
          </a>
        </h5>
      </div>
      <div id="collapse1-7" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion1">
        <ul>
          <li><a href="#payment1">お支払方法の種類について</a></li>
          <li><a href="#payment2">クレジットカードについて</a></li>
          <li><a href="#payment3">代金引換について</a></li>
          <li><a href="#payment4">銀行振込について</a></li>
          <li><a href="#payment5">郵便振込について</a></li>
          <li><a href="#payment6">Amazonペイメントについて</a></li>
          <li><a href="#payment7">消費税について</a></li>
        </ul>
      </div>
    </div>
    <div class="tablist__group">
      <div role="tab" id="heading1-8">
         <h5 class="mb-0">
          <a class="tablist__tab collapsed" data-toggle="collapse" href="#collapse1-8" role="button" aria-expanded="false" aria-controls="collapse1-5">
            返品交換について
          </a>
        </h5>
      </div>
      <div id="collapse1-8" class="collapse tablist__item" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion1">
        <ul>
          <li><a href="#return1">返品特約</a></li>
          <li><a href="#return2">不良品や誤配送品の返品交換</a></li>
          <li><a href="#return3">お客様のご都合での交換</a></li>
          <li><a href="#return4">お客様のご都合での返品</a></li>
          <li><a href="#return5">返品交換の連絡先</a></li>
        </ul>
      </div>
    </div>
    <div class="info">
      <h6>お探しのご質問が見つからないときはお気軽にお問合せください</h6>
      <a href="mailto:shop@lilietnene.com?subject=【お問合せ】" role="button">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>shop@lilietnene.com
      </a>
      <a href="tel:0467-25-4474" role="button">
        <i class="fa fa-phone" aria-hidden="true"></i>0467-25-4474
      </a>
      <small>営業時間10:00-17:00／土日祝日定休</small>
    </div>
  </div>
</div><!-- ./widget -->
