<div class="col-lg-9 col-md-8 col-12">
  <section class="answer"id="entry1">
    <h2>会員について</h2>
    <p>
      会員登録で限定クーポンや便利な会員機能をご利用頂けます。次からのお買い物をより快適にお楽しみいただけますのでぜひご登録下さいませ。
      <ul>
        <li>新規登録で500ポイントプレゼント(2回目以降のご注文にご利用可能)</li>
        <li>ご購入額100円(税抜)につき1ポイントを付与(1ポイント=1円)</li>
        <li>バースデークーポンのプレゼント</li>
        <li>限定セールやクーポンなどの会員特典</li>
        <li>年間購入累計額に応じた会員ステージ特典</li>
        <li>お気に入り・購入履歴・ポイント履歴・クレジットカード情報・お届け先のアドレス登録などのマイページ機能</li>
      </ul>
    </p>
    <a class="btn btn-primary" href="/fs/lilietnene/MemberEntryEdit.html">新規会員登録はこちらから</a>
  </section>
  <section class="answer" id="entry2">
    <h2>パスワードを忘れたとき</h2>
    <p>
      セキュリティの関係上、当店ではお客様のパスワードを閲覧する事が出来ません。
      パスワードをお忘れの場合は、ログインページやマイページにある「パスワードをお忘れの場合」から再設定ください。
    </p>
  </section>
  <section class="answer"id="entry3">
    <h2>会員情報の変更について</h2>
    <p>
    マイページの「登録内容の変更・解除」より登録情報の変更が可能です。
    <a href="/fs/lilietnene/EntryDetail.html">登録内容の変更・解除</a>のページ下の「変更する」ボタンから編集画面へお進みください。
    </p>
  </section>
  <section class="answer"id="entry4">
    <h2>退会について</h2>
    <p>
      退会は<a href="/fs/lilietnene/EntryDetail.html">こちらのページ</a>から設定いただけます。
    </p>
  </section>
  <section class="answer"id="entry5">
    <h2>メルマガの登録と配信停止</h2>
    <p>
      新規会員登録時にご登録いただけます。
      あとから配信をご希望の場合は、マイページの<a href="/fs/lilietnene/EntryDetail.html">登録内容の変更</a>より設定が可能です。
      メールマガジンの解除は<a href="/fs/lilietnene/MailMagazineEntry.html">こちらのページ</a>から設定いただけます。
    </p>
  </section>
  <section class="answer"id="entry6">
    <h2>マイページとは</h2>
      <p>
        会員登録いただくと利用できるマイページの機能一覧です。
        <ul>
          <li><a href="/fs/lilietnene/OrderHistoryList.html">注文履歴の確認</a></li>
          <li><a href="/fs/lilietnene/AddressList.html">アドレス帳の登録</a></li>
          <li><a href="/fs/lilietnene/PasswordEdit.html">パスワードの変更</a></li>
          <li><a href="/fs/lilietnene/PointHistory.html">ポイント履歴を見る</a></li>
          <li><a href="/fs/lilietnene/EntryDetail.html">登録内容の変更・解除</a></li>
          <li><a href="/fs/lilietnene/CreditCardList.html">クレジットカード情報を見る</a></li>
          <li><a href="/fs/lilietnene/WishList.html">お気に入り登録した商品を見る</a></li>
          <li><a href="/fs/lilietnene/CouponInformationCustomer.html">クーポンを見る</a></li>
        </ul>
      </p>
                          <a class="btn btn-primary" href="/fs/lilietnene/MemberEntryEdit.html">新規会員登録はこちらから</a>
  </section>
  <section class="answer"id="entry7">
    <h2>お気に入りについて</h2>
    <p>
      お気に入り機能をご利用いただくと、気になる商品をあとから<a href="/fs/lilietnene/WishList.html">一覧ページ</a>でご覧いただけます。
    </p>
  </section>
  <section class="answer"id="entry8">
    <h2>ポイントを使う・確認する</h2>
    <p>
      会員登録いただきますとご購入額100円(税抜)につき1ポイント(1ポイント=1円)をプレゼントいたします。ポイントのご利用開始日や期限につきましては<a href="http://www.lilietnene.com/fs/lilietnene/PointAgreement.html">こちらのページ</a>からご確認ください。
    </p>
  </section>
  <section class="answer"id="entry9">
    <h2>会員登録時の500ポイントについて</h2>
    <p>
      新規会員登録時に500ポイントプレゼントいたします。会員登録プレゼントの500ポイントは、2回目のご購入からご利用いただけます。
    </p>
  </section>
  <section class="answer"id="entry10">
    <h2>クーポンを使う・確認する</h2>
    <p>
      会員のかたにバースデークーポンや限定クーポンなどをプレゼントいたします。ご利用可能／取得可能なクーポンの確認は<a href="/fs/lilietnene/CouponInformationCustomer.html">こちらのページ</a>からご覧いただけます。
    </p>
  </section>
  <section class="answer"id="order1">
    <h2>注文確認メールが届かない</h2>
    <p>
      当店では自動配信メールの後、 必ず「【LILI et NENE】ご注文ありがとうございます」の件名にてご注文確認メールを送信しております。<br>
      一部のフリーメールや携帯メールでは設定の変更やドメイン受信指定をしないとメールが受信できない場合がございます。
      <dl>
        <dt>フリーメールをご利用の場合
        <dd>Gmailやhotmailなどのフリーメールをご利用の場合は、迷惑メールに振分けられている可能性もございますので、迷惑メールフォルダをご確認下さい。
        <dt>ドメイン指定されている場合
        <dd>ご注文メールは、「shop@lilietnene.com」より配信されております。お手数ではございますが、ドメイン指定の追加をお試しください。
        <dt>メールアドレスが異なる場合
        <dd>ご注文メールはご登録いただいているメールアドレスに送信しております。現在ご利用のメールアドレスは<a href="/fs/lilietnene/EntryDetail.html">マイページ</a>よりご確認くださいませ。
      </dl>
      上記を試してもメールが受信されない場合や、ご注文後数日が経過している場合は、株式会社クプリオ：<a href="tel:0467-25-4474">0467-25-4474</a>（受付時間 平日10:00-17:00）までお電話にてご連絡下さいますようお願いいたします。
    </p>
  </section>
  <section class="answer"id="order2">
    <h2>届け先を変更したい</h2>
    <p>
      配送先のご変更は下記の期間内であれば承ることができます。
      <table class="table">
        <tbody>
          <tr>
            <th>平日午前中のご注文</th>
            <td>当日正午まで</td>
          </tr>
          <tr>
            <th>平日正午以降のご注文</th>
            <td>翌日正午まで</td>
          </tr>
          <tr>
            <th>土・日祝日のご注文</th>
            <td>翌週営業日の正午まで</td>
          </tr>
        </tbody>
      </table>
      <a href="mailto:shop@lilietnene.com?subject=【配送先変更】">メール</a>かお電話：<a href="tel:0467-25-4474">0467-25-4474</a>（受付時間 平日10:00-17:00）でお届け先変更内容をご連絡下さい。その際、受注確認メールに記載された受注番号をお知らせください。<br>
        出荷済みのご注文に関しては発送ご案内メールでお送りしたお荷物番号にて佐川急便までお問い合わせください。
    </p>
  </section>
  <section class="answer"id="order3">
    <h2>追加注文について</h2>
    <p>
      追加注文は下記の期間内であれば承ることができます。
      <table class="table">
        <tbody>
          <tr>
            <th>平日午前中のご注文</th>
            <td>当日正午まで</td>
          </tr>
          <tr>
            <th>平日正午以降のご注文</th>
            <td>翌日正午まで</td>
          </tr>
          <tr>
            <th>土・日祝日のご注文</th>
            <td>翌週営業日の正午まで</td>
          </tr>
        </tbody>
      </table>
      同梱希望の追加注文は、同一のお支払い方法にてご注文ください。 その際に通信欄に「同梱希望」と記入ください。<br>
      ご注文のタイミングや商品によりましては、ご希望に添えない場合もございます事をご了承くださいませ。
    </p>
  </section>
  <section class="answer"id="order4">
    <h2>支払方法を変更したい</h2>
    <p>
      通常はお支払い方法の変更は承っておりません。お手数ではございますが、ご連絡をいただきましたらご注文をキャンセルさせていただきますので、再度ご注文くださいませ。<br>
      場合によりましては、クレジットカードのご利用からお振込みや代引きに変更させていただく事もございますが、
      いかなる場合も、個人情報やセキュリティーの関係上、お客様のクレジットカード情報をお電話やメールにてお預かりする事はございません。
    </p>
  </section>
  <section class="answer"id="order5">
    <h2>配送指定日時変更について</h2>
    <p>
      配送指定日時変更は下記の期間内であれば承ることができます。
      <table class="table">
        <tbody>
          <tr>
            <th>平日午前中のご注文</th>
            <td>当日正午まで</td>
          </tr>
          <tr>
            <th>平日正午以降のご注文</th>
            <td>翌日正午まで</td>
          </tr>
          <tr>
            <th>土・日祝日のご注文</th>
            <td>翌週営業日の正午まで</td>
          </tr>
        </tbody>
      </table>
      お問合せのタイミングや商品によりましては、変更を承れない場合もございます。<br>
      当店では、ご注文からお届けまでの日数は10日前後でお願いしております。
      お届け希望日まで10日以上間隔がある場合は、配送日時の変更をお受けできない場合もございます事をご了承くださいませ。<br>
      既に出荷済みのご注文に関しては「発送のご案内」メールに記載されているお荷物番号にて佐川急便にお客様自身でお問合せください。
    </p>
  </section>
  <section class="answer"id="order6">
    <h2>注文をキャンセルしたい</h2>
    <p>出荷前のご注文キャンセルは下記の期間内であれば承ることができます。※一部予約商品のキャンセルはお受けできない場合がございます。何卒ご了承下さい。
      <table class="table">
        <tbody>
          <tr>
            <th>平日午前中のご注文</th>
            <td>当日正午まで</td>
          </tr>
          <tr>
            <th>平日正午以降のご注文</th>
            <td>翌日正午まで</td>
          </tr>
          <tr>
            <th>土・日祝日のご注文</th>
            <td>翌週営業日の正午まで</td>
          </tr>
        </tbody>
      </table>
      メールかお電話よりキャンセルの旨をご連絡下さい。<br>
      また、既に出荷されてしまっている場合は返品になりますのでご了承ください。
      <a href="/fs/lilietnene/ReturnedSpecialContract.html">返品についての詳細はこちらから</a>ご覧ください。
    </p>
  </section>
  <section class="answer"id="order7">
    <h2>電話やFAXで注文したい</h2>
    <p>
      常はオンライン注文とさせて頂いておりますが、お電話でのご注文も承ることが可能です。その場合のお支払い方法は代金引換のみでポイントの付与はございません。<br>
      お電話：<a href="tel:0467-25-4474">0467-25-4474</a>（受付時間 平日10:00-17:00）までご連絡ください。なお、メールやFAXなどからのご注文は承っておりません。
    </p>
  </section>
  <section class="answer"id="order8">
    <h2>納品書や領収書について</h2>
    <p>
      通常は明細の記載された納品書を商品と同梱しております。
      <strong>ご注文者様とお届け先様のご住所が異なる場合には、贈り物と判断し、納品書を同梱しない</strong>ため、ご注文者様ご自身が別のお届け先にてお受け取りになる場合も、自動的に納品書は省かれます。その場合に納品書がご入用の際は、ご注文通信欄に「納品書希望」とご記入ください。<br>
      領収証が必要な場合は、ご注文の際に宛名・但し書きと合わせて「領収証希望」の旨を通信欄にご記入ください。領収書は信書となるため商品と同梱せず、郵送にて別途送付させて頂きます。ご送付までは商品発送後10日ほどお時間を頂きますことをご了承下さい。
    </p>
  </section>
  <section class="answer"id="gift1">
    <h2>ギフトラッピングについて</h2>
    <p>
      ギフトラッピングは有料にて承っております。<a href="/fs/lilietnene/c/item-gift-wrapping">こちらのページ</a>よりご注文くださいませ。ギフトラッピングをご注文いただきますと、メッセージカードをお付けする事が可能です。ご希望の場合は、ご注文の際、通信欄にカードの文面をお書き下さい。
    </p>
  </section>
  <section class="answer"id="gift2">
    <h2>ギフトの納品書について</h2>
    <p>
      当店では<strong>ご注文者様とお届け先様のご住所が異なる場合</strong>には、贈り物と判断し、納品書を同梱しておりません。納品書がご入用の際は、ご注文通信欄に「納品書希望」とご記入ください。商品と同梱せず、郵送にて別途送付させて頂きます。ご送付までは商品発送後10日ほどお時間を頂きますことをご了承下さい。
    </p>
  </section>
  <section class="answer"id="gift3">
    <h2>メッセージカードについて</h2>
    <p>
      有料ギフトラッピングをご注文いただくとお客様のオリジナルメッセージが入れられるメッセージカードをお付けいただけます。お支払い方法選択画面に「通信欄」がございますのでそちらへメッセージをご記入ください。
      ラッピングは<a href="/fs/lilietnene/c/item-gift-wrapping">こちらのページ</a>よりご注文くださいませ。
    </p>
  </section>
  <section class="answer"id="item1">
    <h2>商品在庫について</h2>
    <p>
      リリ・エ・ネネの在庫は実店舗とも一部共有しております。そのため、ご注文が完了しましても在庫更新のタイミングによりましては完売の場合がございます。
      その場合は、メールにて在庫切れのご連絡をさせて頂きます。恐れ入りますが予めご了承くださいませ。
    </p>
  </section>
  <section class="answer"id="item2">
    <h2>商品カタログはありますか</h2>
    <p>
      大変申し訳ございません。WEB掲載商品のカタログ等は扱っておりません。 商品はオンライン上でのみご案内しております。<br>
      なお、弊社ブランドのCOUPRIOにつきましては不定期にリーフレットを作成しております。
      不定期ではございますが、ご注文のお客様には商品と共にお届けする場合もございます。どうぞよろしくお願いいたします。
    </p>
  </section>
  <section class="answer"id="item3">
    <h2>完売商品が欲しい</h2>
    <p>
      ご希望の商品が品切れの場合、再入荷のある商品とそうでない商品がございます。
      シーズン商品のアパレル等は数量限定にて入荷しているため、ほとんどの場合は再入荷がございません事をご了承ください。
      お気に入りを探していただきましたら、どうぞお早めにご検討下さいませ。<br>
      再入荷や新商品のご案内は、サイト、SNS、メールマガジン等で随時ご案内させて頂いております。再入荷の有無はどうぞお気軽にお問合せ下さいませ。
    </p>
  </section>
  <section class="answer"id="item4">
    <h2>取扱商品は実店舗と同じですか</h2>
    <p>
      弊社運営の姉妹店は鎌倉のCOUPRIO実店舗と、COUPRIOオンラインショップがございます。
      各店舗の取扱い商品は若干異なっております。
      同じブランドでも、ひとつのショップでしか扱っていないアイテムもあります。
      それぞれのショップをお楽しみ頂ければ幸いでございます。
      なお、各ショップで運営方法が異なりますため、同梱やポイントの合算は承る事が出来ません。
      ご不便をおかけ致しますが、何卒ご了承下さいませ。
    </p>
  </section>
  <section class="answer"id="item5">
    <h2>サイズについて</h2>
    <p>
      採寸方法や商品ページで使用しているトルソーのサイズを<a href="sizeguide.html">サイズガイド</a>でご紹介しています。
    </p>
  </section>
  <section class="answer"id="postage1">
    <h2>送料について</h2>
    <p>
      沖縄や離島を除き全国一律648円(税込)でお届けいたします。1配送先につき20,000円(税抜)以上お買い上げの場合の配送料は当店負担でお届けいたします。
    </p>
  </section>
  <section class="answer"id="postage2">
    <h2>送料込商品と他の商品の同時購入</h2>
    <p>
      1回のご注文で１配送先につき、送料込の商品と送料別の商品を同時にご注文の場合、送料は無料になります。
    </p>
  </section>
  <section class="answer"id="postage3">
    <h2>送料個別商品を複数購入したい</h2>
    <p>
      1回のご注文で商品ページで個別に送料が設定されている商品を複数購入された場合、商品個別に設定されている送料がすべて加算されます。
      それらの商品を複数ご注文の際は、その送料×個数分が必要になります。
    </p>
  </section>
  <section class="answer"id="postage4">
    <h2>高額購入送料割引特典について</h2>
    <p>
      1配送先につき20,000円(税抜)以上お買い上げの場合は送料無料となります。
    </p>
  </section>
  <section class="answer"id="postage5">
    <h2>宅配業者について</h2>
    <p>
      当店の配送は佐川急便を利用しております。 配送状況は佐川急便のホームページ上の「<a href="http://k2k.sagawa-exp.co.jp/p/sagawa/web/okurijoinput.jsp">追跡サービス</a>」にて出荷日の夜からご確認頂けます。<br>
      当店からお送りする「発送のご案内」メールに記載されている『お問い合わせ伝票番号』を追跡サービスに入力すると荷物の運送状況が確認頂けます。
      出荷後に配送日時を変更したい場合もこの『お問い合わせ伝票番号』にてお客様の佐川急便・配送担当店にお問合せくださいませ。
      また、「発送のご案内」メールが届いていない場合は株式会社クプリオ：<a href="tel:0467-25-4474">0467-25-4474</a>（受付時間 平日10:00-17:00）までお電話にてご連絡下さいますようお願いいたします。
    </p>
  </section>
  <section class="answer"id="shipping1">
    <h2>ご注文の受付時間と出荷日について</h2>
    <p>
      クレジットカードもしくは代金引換でのお支払いの場合で、発送日指定のない商品についてはご注文確定後にすぐに発送の手配に入らせて頂きます。（※土日祝日・年末年始などを除く）<br>
      お支払い方法がお振込の場合は、入金確認後からの手配となります。お届けの目安は下記をご覧ください。
    </p>
    <h6>クレジットカードと代引きでのご注文</h6>
      <table class="table">
        <tr>
          <th scope="row">平日正午までのご注文
          <td>当日出荷
        <tr>
          <th scope="row">平日正午以降のご注文
          <td>翌日出荷
        <tr>
          <th scope="row">金曜日正午以降、土日祝日のご注文
          <td>翌営業日出荷
      </table>
      <h6>お振込みでのご注文</h6>
      <table class="table">
        <tr>
          <th scope="row">平日午前10時までのご入金確認
          <td>当日出荷
        <tr>
          <th scope="row">平日午前10時以降のご入金確認
          <td>翌営業日出荷
      </table>
  </section>
  <section class="answer"id="shipping2">
    <h2>お届け日数の目安</h2>
    <p>
      <table class="table">
        <tr>
          <th scope="row">北海道
          <td>出荷日から2～3日後
        <tr>
          <th scope="row">北海道(一部地域)
          <td>出荷日から3日以上
        <tr>
          <th scope="row">関東・東北・北陸・東海・関西
          <td>出荷日から1～2日後
        <tr>
          <th scope="row">四国・中国
          <td>出荷日から2～3日後
        <tr>
          <th scope="row">九州
          <td>出荷日から2～3日後
        <tr>
          <th scope="row">沖縄
          <td>出荷日から3日以上
      </table>
      ※出荷済み商品の配送状況は「発送のご案内」メールのお荷物番号にて、<a href="http://k2k.sagawa-exp.co.jp/p/sagawa/web/okurijoinput.jsp">佐川急便お荷物問い合わせサービス</a>をご利用ください。<br>
      ※地域や交通事情によりご希望に添えない場合もございます。
    </p>
  </section>
  <section class="answer"id="shipping3">
    <h2>お届け日の指定はできますか？</h2>
    <p>
      お届け希望日はご指定いただけます。ご注文を進めていくと、お届け日時を選択する項目がございますので、そちらにてご指定ください。
      お届け希望日はご注文日から4営業日後より6日の間で指定可能となっております。最短のお届けをご希望の場合は、お届け希望日を「指定なし」でご注文ください。
      また、ご注文の商品やお住まいの地域によりましては、ご希望に添えない場合もございます事をご了承くださいませ。
    </p>
  </section>
  <section class="answer"id="shipping4">
    <h2>配送状況を調べるには？</h2>
    <p>
      当店の配送は佐川急便を利用しております。 配送状況は佐川急便のホームページ上の「<a href="http://k2k.sagawa-exp.co.jp/p/sagawa/web/okurijoinput.jsp">追跡サービス</a>」にて出荷日の夜からご確認頂けます。<br>
        当店からお送りする「発送のご案内」メールに記載されている『お問い合わせ伝票番号』を追跡サービスに入力すると荷物の運送状況が確認頂けます。
        出荷後に配送日時を変更したい場合もこの『お問い合わせ伝票番号』にてお客様の佐川急便・配送担当店にお問合せくださいませ。
        また、「発送のご案内」メールが届いていない場合は株式会社クプリオ：<a href="tel:0467-25-4474">0467-25-4474</a>（受付時間 平日10:00-17:00）までお問合せくださいませ。
    </p>
  </section>
  <section class="answer"id="shipping5">
    <h2>海外へ配送したい</h2>
    <p>
      当サイトは現在日本語表示のみとなっておりますが、国際配送事務手数料540円にて海外配送も承ります。配送はEMSとなります（EMS料金表
      ※外部サイトです）決済はクレジットカードをお選びください。また、国際配送は送料無料キャンペーン等の対象となりません事をご了承ください。
      <dl>
        <dt>海外配送ご希望の場合の会員情報・配送情報の入力内容
        <dd>
          <ul>
            <li>氏名：英語可
            <li>氏名（フリガナ）：<span class="att">カタカナ</span>でご入力ください
            <li>郵便番号：<span class="att">000-0000で入力し、実際のzip cpdeを住所欄にご記入</span>ください
            <li>都道府県：必ず「その他」を選択ください
            <li>住所１（市区町村）：英語可（street)
            <li>住所２（番地）：英語可（city, state)
            <li>住所３（建物名）：英語可（zip cpde, country)など
            <li>お電話番号：11桁までご入力可能です（桁数が足りない場合は住所欄にご記入ください）
          </ul>
        </dd>
        <p>EMS送料はご注文完了後、お荷物の準備が出来た時点で当店より別途メールにてご案内致します。 ご注文には送料と国際配送事務手数料540円を追加させていただきます。<br>
          会員登録を頂きますと、次回よりご入力の手間が省けますので是非ご登録くださいませ。
      </dl>
    </p>
  </section>
  <section class="answer"id="payment1">
    <h2>お支払方法の種類について</h2>
    <p>
      お支払い方法は「<a href="#amazon">AMAZONペイメント</a>」「<a href="#credit">クレジットカード</a>」「<a href="#bank">銀行振込</a>」「<a href="#postal">郵便振込</a>」「<a href="#collect">代金引換</a>」をご利用いただけます。
    </p>
  </section>
  <section class="answer"id="payment2">
    <h2>クレジットカードについて</h2>
    <p>
      お支払総額は以下の通りです。<br>
        <strong>お支払い額＝(税込み商品代金合計)＋(税込み送料)</strong><br>
        取り扱いカードは下記のとおりです。
        すべてのカード会社で、一括払いが可能となっております。 分割払い・リボ払いに関しましては、お客様のお持ちのカードによりご利用設定が異なります事をご了承ください。
        お支払いにはSSLを利用しておりますので、カード番号等の個人情報は暗号化されて送信されます。
        また、会員登録して頂いている場合は、クレジットカード情報の保持が可能となっております。 次回以降のお買い物にて、カード番号のご入力が不要となりますので、是非ご利用くださいませ。
  </p>
  </section>
  <section class="answer"id="payment3">
    <h2>代金引換について</h2>
    <p>
      業者：佐川急便 お支払総額は以下の通りです。<br>
      <strong>ご購入金額＝(税込商品代金合計)＋(税込送料)＋(税込代引手数料)</strong><br>
      代引手数料：下表をご参照ください。
      ※消費税の端数は切り捨てでの計算となります。 ご注文完了と同時にメールにてお支払総額をお知らせしておりますので必ずご確認ください。
      ご注文確認後、当店営業日に商品を発送致します。 代金は商品配送時に現金にて配送員にお支払い下さい。お支払いは現金のみとさせて頂きます。
      <table class="table">
        <tr>
          <th scope="col">ご購入金額(税込)
          <th scope="col">手数料
        <tr>
          <th scope="row">1円 ～ 9,999円
          <td>324円
        <tr>
          <th scope="row">10,000円 ～ 29,999円
          <td>432円
        <tr>
          <th scope="row">30,000円 ～ 99,999円
          <td>648円
        <tr>
          <th scope="row">100,000円以上の場合は
          <td>1,080円
      </table>
    </p>
  </section>
  <section class="answer"id="payment4">
    <h2>銀行振込について</h2>
    <p>
      <strong>【振込口座】三菱東京UFJ銀行 鎌倉支店</strong><br>
        お支払総額は以下の通りです。<br>
        <strong>振込金額 ：(税込み商品代金合計)＋(税込み送料) </strong><br>
        <strong>振込手数料：振込み時にお確かめください。</strong>（お客様にてご負担ください）<br>
        ※消費税の端数は切り捨てでの計算となります。
        当店にてご注文確認後、メールにてお支払総額をお知らせ致します。 ご注文後1週間以内に当店指定の口座にお振込みをお願いします。(前払い)
        振込み手数料はお客様ご負担でお願い致します。 平日午前10時にご入金の確認をしております。ご入金が確認でき次第の商品発送とさせて頂きます。
        ご注文から1週間以内にご入金のない場合、キャンセルとさせて頂きます。 ご注文者名と振込名が異なる場合は事前にご連絡をお願いします。
      <table class="table">
        <tr>
          <th scope="row">銀行名
          <td>三菱東京UFJ銀行
        <tr>
          <th scope="row">支店名
          <td>鎌倉支店
        <tr>
          <th scope="row">口座種別
          <td>普通
        <tr>
          <th scope="row">口座番号
          <td>0002334
        <tr>
          <th scope="row">口座名義
          <td>株式会社クプリオ
      </table>
    </p>
  </section>
  <section class="answer"id="payment5">
    <h2>郵便振込について</h2>
    <p>
      お支払総額は以下の通りです。<br>
        <strong>振込金額：(税込み商品代金合計)＋(税込み送料) </strong><br>
        <strong>振込手数料：振込み時にお確かめください。（お客様にてご負担ください）</strong><br>
        ※消費税の端数は切り捨てでの計算となります。<br>
        当店にてご注文確認後、メールにてお支払総額をお知らせ致します。
        ご注文後1週間以内に当店指定の口座にお振込みをお願いします。(前払い)
        郵便振替用紙は発行致しておりません。
        振込み手数料はお客様ご負担でお願い致します。
        平日午前10時にご入金の確認をしております。ご入金が確認でき次第の商品発送とさせて頂きます。
        ご注文から1週間以内にご入金のない場合、キャンセルとさせて頂きます。
        ご注文者名と振込名が異なる場合は事前にご連絡をお願いします。
    </p>
  </section>
  <section class="answer"id="payment6">
    <h2>Amazonペイメントについて</h2>
    <p>
      Amazon.co.jpに登録された配送先情報（アドレス帳）やクレジットカード情報を利用してお買い物できます。
      「Amazonアカウントでお支払い」ボタンから、Amazon.co.jpに登録しているEメールアドレスとパスワードでログインして、配送先とクレジットカード情報を選択するだけでお買い物できます。
    </p>
  </section>
  <section class="answer"id="payment7">
    <h2>消費税について</h2>
    <p>
      <strong>消費税率：8.0％</strong><br>
      ※1円未満は端数切り捨てとなります。<br>
      ※1商品ごとに消費税を計算します。
    </p>
  </section>
  <section class="answer"id="return1">
    <h2>返品特約</h2>
    <p>
      <p>破損や不良品、誤配送などによる返品交換は当店送料負担にて早急に対応させて頂きます。まずはご連絡をお願いいたします。なお、お客様都合による返品交換は未開封・未使用のものに限らせて頂きます。商品到着後3日以内にご連絡をお願いします。送料はお客様にてご負担くださいませ。
    </p>
    <a href="/fs/lilietnene/ReturnedSpecialContract.html" class="btn btn-primary">返品についての詳細はこちら</a>
  </section>
  <section class="answer"id="return2">
    <h2>不良品や誤配送品の返品交換</h2>
    <p>
      商品の品質については万全を期しておりますが、万一商品が破損・汚損していた場合や、
      ご注文と異なる商品が届いた場合は至急対応させていただきますので、すぐに弊社までご連絡下さい。
      商品内容等を確認いたしまして交換方法等の連絡をさせて頂き、早急に返品交換をさせていただきます。
      その際の返品交換にかかる手数料は当店にて負担させて頂きます。商品到着後7日以内にご連絡を頂けますと幸いです。
    </p>
    <a href="fs/lilietnene/ReturnedSpecialContract.html" class="btn btn-primary">返品についての詳細はこちら</a>
  </section>
  <section class="answer"id="return3">
    <h2>お客様のご都合での交換</h2>
    <p>
      お色やサイズの変更など、お客様ご都合で他の商品との交換をご希望される場合は、商品到着後3営業日以内に弊社までご連絡をお願いいたします。
      内容を確認いたしましてから、返送先や返品交換の方法等の連絡をさせて頂きます。
      その際の交換にかかる送料等は、お客様のご負担とさせていただいております。
      商品の在庫状況によりましては、ご交換のご希望に添えない場合もございます事をご了承くださいませ。
      なお、商品パッケージや商品に損傷がある場合は、実費で別途請求させていただく場合もありますので、予めご了承下さい。
      <dl>
        <dt>交換時に必要な費用
        <dd>（お届け時の送料＋ お届け時の各種手数料※）＋ 商品返送時の送料 ＋
          交換時に発生する差額の振込および決済手数料など当店で返品商品を確認後、交換商品を発送いたします。<br>
          ※初回のご注文が税抜2万円以上で送料を当店負担にてお届けした場合：商品交換によりお買上げ金額が税抜2万円を下回る場合は、発送時の送料や手数料をご負担いただきます事をご了承下さい。
      </dl>
      <dl>
        <dt>下記の場合には交換の対象外となります
        <dd>
          <ul>
            <li>ご使用になられた商品
            <li>お客様のもとで傷、損傷が生じた商品
            <li>お客様のもとで加工、リフォーム等を施された商品
            <li>納品時の商品ラベルをなくされた商品
            <li>到着後7日以上経過した商品
            <li>セール及び、アウトレット商品
          </ul>
      </dl>
    </p>
    <a href="fs/lilietnene/ReturnedSpecialContract.html" class="btn btn-primary">返品についての詳細はこちら</a>
  </section>
  <section class="answer"id="return4">
    <h2>お客様のご都合での返品</h2>
    <p>
      品には問題がなく、お客様ご都合での返品をご希望される場合は、商品到着後3営業日以内に弊社までご連絡をお願いいたします。また、振込みによる返金が発生する場合の振込手数料もお客様のご負担となりますのでご了承ください。
        なお、商品パッケージや商品に損傷がある場合は、実費で別途請求させていただく場合もありますので、予めご了承下さい。
      <dl>
        <dt>返品時に必要な費用
        <dd>（お届け時の送料＋ お届け時の各種手数料※）＋ 商品返送時の送料 ＋ 返金時に発生する振込および決済手数料など<br>
          当店で返品商品を確認後、カードでお支払いの場合はお支払いのクレジットカードへ、
          お振込み・代金引換でお買い上げいただいた場合はご指定の口座に上記費用を差し引いた金額をご返金いたします。<br>
          ※初回のご注文が税抜2万円以上で送料を当店負担にてお届けした場合：商品返品によりお買上げ金額が税抜2万円を下回る場合は、発送時の送料や手数料をご負担いただきます事をご了承下さい。
      </dl>
      <dl>
        <dt>下記の場合には交換の対象外となります
        <dd>
          <ul>
            <li>ご使用になられた商品
            <li>お客様のもとで傷、損傷が生じた商品
            <li>お客様のもとで加工、リフォーム等を施された商品
            <li>納品時の商品ラベルをなくされた商品
            <li>到着後7日以上経過した商品
            <li>セール及び、アウトレット商品
          </ul>
      </dl>
    </p>
  </section>
  <section class="answer"id="return5">
    <h2>返品交換の連絡先</h2>
    <p>
      いずれの場合も、返品交換の際は必ず当店までご連絡をお願いいたします。
      同時集荷やお客様によるご返送など、それぞれに返品交換の方法が異なりますので、内容を確認いたしましてから返品交換方法をご案内させていただきます。
      <dl>
        <dt>リリ・エ・ネネ
        <dd>shop@lilietnene.com
        <dd><a href="tel:0467-25-4474">0467-25-4474</a>（お電話でのご連絡は平日10:00～17:00にお願いいたします）
        <dd>運営会社：株式会社クプリオ
        <dd>神奈川県鎌倉市御成町4-16 鎌倉NSビル4階
      </dl>
    </p>
  </section>
</div>
