<footer class="footer w-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer__col">
        <h3 class="footer__lead">INFOMATION</h3>
        <ul class="footer__list">
          <li><address>0467-25-4474</address></li>
          <li>営業時間10:00-17:00／土日祝日定休</li>
          <li><address>鎌倉市御成町4-16 鎌倉NSビル4F</address></li>
          <li><address>shop@lilietnene.com</address></li>
        </ul>
      </div>
      <div class="col-lg-4 footer__col">
        <h3 class="footer__lead">SHOPPING GUIDE</h3>
        <ul class="footer__list">
          <li><a href="#">よくあるご質問</a></li>
          <li><a href="#">送料とお支払い方法</a></li>
          <li><a href="#">返品について</a></li>
          <li><a href="#">パスワードをお忘れの場合</a></li>
          <li><a href="#">個人情報の取扱い</a></li>
          <li><a href="#">特定商取引法に基づく表示</a></li>
          <li><a href="#">会社概要</a></li>
        </ul>
      </div>
      <div class="col-lg-4 footer__col">
        <h3 class="footer__lead">GET IN TOUCH</h3>
        <ul class="footer__list">
          <li><a href="#">ギフトのコンセプトストア～姉妹店クプリオ</a></li>
          <li><a href="#">FACEBOOK</a></li>
          <li><a href="#">INSTAGRAM</a></li>
          <li><a href="#">LINE</a></li>
          <li><a href="#">TWITTER</a></li>
        </ul>
      </div>
    </div>
    <div class="payments">
      <p class="text-muted"> We support the following payment methods.</p>
      <ul class="list-inline">
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto" src="http://www.lilietnene.com/test/icon-cregit-amazon.png" alt="amazon pay"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto" src="http://www.lilietnene.com/test/icon-cregit-visa.png" alt="visa"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto" src="http://www.lilietnene.com/test/icon-cregit-master.png" alt="master"></li>
        <li class="list-inline-item payments__item"><img class="img-fluid mx-auto" src="http://www.lilietnene.com/test/icon-cregit-jcb.png" alt="jcb"></li>
      </ul>
    </div>
    <p class="text-muted"><small>&copy; Copyright LILI et NENE. 運営会社 COUPRIO.INC 神奈川県鎌倉市御成町4-16 鎌倉NSビル4F</small></p>
  </div>
</footer>
