<div id="newin" class="grid">
  <h2 class="grid__lead">NEW RELEASES</h2>
  <script type="text/javascript">
    try{
      _rcmdjp._displayNewItem({
        template: 'fs_newitems_bs4'
      });
    } catch(err) {}
  </script>
  <p class="grid__link"><a href="#" class="btn-link">新着アイテム一覧へ</a></p>
</div>
