<div id="accordion1" class="tablist" role="tablist" aria-multiselectable="true">

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-1">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-1" role="button" aria-expanded="true" aria-controls="collapse1-1">
            普通袖のトップス・ワンピース
          </a>
        </h3>
      </div>
      <div id="collapse1-1" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <p>
              カットソー、Tシャツ、シャツ、ワンピース、チュニック類で、身頃と袖を付け合せたタイプ
              <dl class="disc">
                <dt>A. 身幅</dt>
                <dd>両袖の付け下を直線で測った値</dd>
                <dt>B. 着丈</dt>
                <dd>後ろ襟ぐりから裾までの値（襟の高さ含まず）</dd>
                <dt>C. 袖丈</dt>
                <dd>肩先の縫い目から袖口までの値</dd>
              </dl>
            </p>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-nomalsleev.svg" alt="普通袖のトップス・ワンピース">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-2">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-2" role="button" aria-expanded="false" aria-controls="collapse1-1">
            ラグランスリーブ
          </a>
        </h3>
      </div>
      <div id="collapse1-2" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <p>
              衿ぐりから脇下にかけての斜めの切り替え線をいれて、肩から袖部分までが一続きになっている袖タイプのもの
              <dl class="disc">
                <dt>A. 身幅</dt>
                <dd>両袖の付け下を直線で測った値</dd>
                <dt>B. 着丈</dt>
                <dd>後ろ襟ぐりから裾までの値（襟の高さ含まず）</dd>
                <dt>C. ユキ丈</dt>
                <dd>衿ぐりから袖口までまでの値</dd>
              </dl>
            </p>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-raglansleev.svg" alt="ラグランスリーブ">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-3">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-3" role="button" aria-expanded="false" aria-controls="collapse1-1">
            コート、ジャケット類
          </a>
        </h3>
      </div>
      <div id="collapse1-3" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 身幅</dt>
              <dd>両袖の付け下を直線で測った値</dd>
              <dt>B. 着丈</dt>
              <dd>後ろ襟ぐりから裾までの値（襟の高さ含まず）</dd>
              <dt>C. 袖丈</dt>
              <dd>肩先の縫い目から袖口までの値</dd>
              <dt>D. 肩幅</dt>
              <dd>左右の肩先の縫い目から縫い目までの値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-coat.svg" alt="コート、ジャケット">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-4">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-4" role="button" aria-expanded="false" aria-controls="collapse1-1">
            タンクトップ、ノースリーブ
          </a>
        </h3>
      </div>
      <div id="collapse1-4" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 身幅</dt>
              <dd>両脇下を直線で測った値</dd>
              <dt>B. 着丈</dt>
              <dd>後ろ襟ぐりから裾までの値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-nosleeve.svg" alt="タンクトップ、ノースリーブ">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-5">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-5" role="button" aria-expanded="false" aria-controls="collapse1-1">
            キャミソール
          </a>
        </h3>
      </div>
      <div id="collapse1-5" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 身幅</dt>
              <dd>両脇下を直線で測った値</dd>
              <dt>B. 着丈</dt>
              <dd>後ろ襟ぐりから裾までの値 （肩ひもの高さ含まず）</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-camisole.svg" alt="キャミソール">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-6">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-6" role="button" aria-expanded="false" aria-controls="collapse1-1">
            パンツ
          </a>
        </h3>
      </div>
      <div id="collapse1-6" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. ウエスト</dt>
              <dd>ファスナーやボタンを閉じ、上端を直線で水平に測った値</dd>
              <dt>B. わたり</dt>
              <dd>内股合わせ部分を水平に測った値</dd>
              <dt>C. 股下</dt>
              <dd>内股合わせから内股縫い目に沿って裾まで測った値</dd>
              <dt>D. 総丈</dt>
              <dd>上端から裾までを測った値</dd>
              <dt>E. すそ幅</dt>
              <dd>すそ部分を水平に測った値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-pants.svg" alt="パンツ">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-7">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-7" role="button" aria-expanded="false" aria-controls="collapse1-1">
            スカート
          </a>
        </h3>
      </div>
      <div id="collapse1-7" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. ウエスト</dt>
              <dd>ファスナーやボタンを閉じ、上端を直線で水平に測った値</dd>
              <dt>B. 総丈</dt>
              <dd>上端から裾までを測った値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-skirt.svg" alt="スカート">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-8">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-8" role="button" aria-expanded="false" aria-controls="collapse1-1">
            オーバーオール、サロペット
          </a>
        </h3>
      </div>
      <div id="collapse1-8" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. ウエスト</dt>
              <dd>腰の部分を直線で水平に測った値</dd>
              <dt>B. 総丈</dt>
              <dd>肩ひもを含まない裾までの値</dd>
              <dt>C. 股下</dt>
              <dd>内股合わせから内股縫い目に沿って裾まで測った値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-overalls.svg" alt="オーバーオール、サロペット">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-9">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-9" role="button" aria-expanded="false" aria-controls="collapse1-1">
            ロンパース
          </a>
        </h3>
      </div>
      <div id="collapse1-9" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 身幅</dt>
              <dd>腰の部分を直線で水平に測った値</dd>
              <dt>B. 着丈</dt>
              <dd>肩ひもを含まない裾までの値</dd>
              <dt>C. 袖丈</dt>
              <dd>内股合わせから内股縫い目に沿って裾まで測った値</dd>
              <dt>D. 股下</dt>
              <dd>内股合わせから内股縫い目に沿って裾まで測った値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-rompers.svg" alt="ロンパース">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-10">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-10" role="button" aria-expanded="false" aria-controls="collapse1-1">
            ビキニ
          </a>
        </h3>
      </div>
      <div id="collapse1-10" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. トップ幅</dt>
              <dd>両胸当てを直線で測った値（収縮時、紐の長さ含まず）</dd>
              <dt>B. トップ縦</dt>
              <dd>胸当ての一番上から裾まで（収縮時）</dd>
              <dt>C. ウエスト</dt>
              <dd>上端を直線で水平に測った値（収縮時）</dd>
              <dt>D. 総丈</dt>
              <dd>上端から股下までを測った値（収縮時）</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-bikini.svg" alt="ビキニ">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-11">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-11" role="button" aria-expanded="false" aria-controls="collapse1-1">
            ワンピース水着
          </a>
        </h3>
      </div>
      <div id="collapse1-11" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 身幅</dt>
              <dd>両脇下を直線で測った値（収縮時）</dd>
              <dt>B. 着丈</dt>
              <dd>胸当ての一番上から裾まで（収縮時）</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-swimsuit.svg" alt="ワンピース水着">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-12">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-12" role="button" aria-expanded="false" aria-controls="collapse1-1">
            バッグ
          </a>
        </h3>
      </div>
      <div id="collapse1-12" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 幅</dt>
              <dd>両端（切替部分まで）までの横幅の外寸最大値</dd>
              <dt>B. 高さ</dt>
              <dd>バッグの底辺から上部までの外寸最大値</dd>
              <dt>C. マチ</dt>
              <dd>底面の最大マチ幅（切替部分まで）の長さ（丸型の場合、最大部）</dd>
              <dt>D. 持ち手</dt>
              <dd>持ち手のバッグ本体との接点から接点までの長さ（金具部分含む）</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-bag.svg" alt="バッグ">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-13">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-13" role="button" aria-expanded="false" aria-controls="collapse1-1">
            帽子
          </a>
        </h3>
      </div>
      <div id="collapse1-13" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 頭まわり</dt>
              <dd>帽子本体の底辺の内周</dd>
              <dt>B. 高さ</dt>
              <dd>帽子本体の底辺から頂点まで垂直に計った値</dd>
              <dt>C. ツバ</dt>
              <dd>ツバの長さの最大値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-hat.svg" alt="帽子">
          </div>
        </div>
      </div>
    </div>

    <div class="tablist__group tablist__group--large">
      <div role="tab" id="heading1-14">
         <h3>
          <a class="tablist__tab tablist__tab--large collapsed" data-toggle="collapse" href="#collapse1-14" role="button" aria-expanded="false" aria-controls="collapse1-1">
            ブーツ
          </a>
        </h3>
      </div>
      <div id="collapse1-14" class="collapse tablist__item tablist__item--large" role="tabpanel" aria-labelledby="heading1-1" data-parent="#accordion1">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <dl class="disc">
              <dt>A. 履き口</dt>
              <dd>履き口上部の内寸の値</dd>
              <dt>B. 高さ</dt>
              <dd>靴を立たせた状態で、床面に対して垂直に測った高さ（ヒールを含む）</dd>
              <dt>C. ヒール</dt>
              <dd>ヒールの付け根から床面まで垂直に測った値</dd>
            </dl>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 col-12">
            <img class="img-fluid mx-auto" src="assets/images/size-boots.svg" alt="ブーツ">
          </div>
        </div>
      </div>
    </div>


</div>
