<h2>採寸方法とトルソーサイズについて</h2>
<p>
lili et neneでは商品を平置きした状態で採寸を行っております。体型の違いや着方の好みなど様々ですので、サイズでお悩みの際は商品をご購入される前にお手持ちのアイテムと表記サイズを比較されることをおすすめいたします。
また、着用時の雰囲気やフォルムの確認にはトルソーに着せた状態をご参考ください。
</p>
<div class="column">
  <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 col-12">
        <h6>キッズのトルソーサイズ（4Aサイズ）</h6>
        <ul>
          <li>肩幅：25㎝（左右の肩先を直線にして計測）</li>
          <li>ウエスト：54.5㎝（胴回りの一番細い部分を計測）</li>
          <li>ヒップ：65㎝（腰回りの一番大きい部分を計測）</li>
        </ul>
      </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-12">
          <h6>レディースのトルソーサイズ</h6>
          <ul>
            <li>肩幅：36㎝（左右の肩先を直線にして計測）</li>
            <li>バスト：83㎝（胸のふくらみの一番高いところを計測）</li>
            <li>ウエスト：57㎝（胴回りの一番細い部分を計測）</li>
            <li>ヒップ：86㎝（腰回りの一番大きい部分を計測）</li>
            <li>高さ：66.5㎝（肩からボディ下までを計測）</li>
          </ul>
        </div>
  </div>
</div>
